@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ff512f;
  --secondary-color: #dd2476;
  --background-dark: #181818;
  --background-paper: #1a1825;
}

body {
  @apply m-0 bg-backgroundPaper text-white font-sans;
  font-family: 'Inter', sans-serif;
}

.gradient-text {
  @apply bg-gradient-to-b from-[#EBEBEB] to-[#EBEBEBCC] bg-clip-text text-transparent;
}

.btn {
  @apply bg-gradient-to-r from-[var(--primary-color)] to-[var(--secondary-color)] text-white;
}

.btn:hover {
  @apply opacity-90;
}

.button-tribe {
  @apply bg-gradient-to-r from-[#ff512f] to-[#dd2476] text-white;
}

.gradient-background {
  background: linear-gradient(90deg, #1b1a1a, #dd2476);
}
