/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tribe-bg: #181818;
  --tribe-text: #c4c4c4;
}

@layer base {
  html {
    @apply antialiased scroll-smooth;
  }
  ul {
    @apply flex justify-between;
  }
  body {
    @apply font-montserrat text-gray-300 min-h-screen bg-backgroundDark dark:bg-gray-900;
  }
}

@layer components {
  .g-center {
    @apply flex flex-col items-center justify-center text-center space-y-8;
  }
  .nav {
    @apply overflow-x-hidden justify-center flex flex-row;
  }
  .menu {
    @apply group-hover:block hidden;
  }
  .flex-just {
    @apply flex justify-center items-center text-center;
  }
  .image-container {
    @apply relative w-full;
    padding-top: 75%; /* Proporcja 4:3 */
  }
  .image-container img {
    @apply absolute top-0 left-0 w-full h-full object-cover;
  }

  /* Dodanie niestandardowej klasy dla list na wierzchu */
  .list-on-top {
    @apply relative z-50;
  }
  .fine-flex {
    flex-direction: row;
  }
}
.grid-resp {
  @apply grid gap-4 justify-items-center p-4;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.gradient-center {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.75) 75%,
    rgba(255, 255, 255, 1) 100%
  );
}
.card {
  @apply w-4/5 max-w-lg h-auto;
}
.container {
  @apply flex flex-col items-center justify-center;
}
.content-1 {
  @apply flex flex-col;
}
@media (min-width: 768px) {
  .content-1 {
    @apply flex-row;
  }
}
.custom-gradient {
  background: linear-gradient(to top, transparent, white 50%);
}
@media (max-width: 326px) {
  body {
    @apply flex items-center justify-center;
  }
  .nav {
    @apply flex flex-row items-center justify-normal;
  }
  .bg-herobg {
    background-size: fit;
  }
}
@media (min-width: 326px) {
  .fine-flex {
    flex-direction: column; /* Zmiana na kolumnę przy orientacji pionowej i szerokości >= 768px */
  }
}
@media (max-width: 768px) {
  .bg-herobg {
    @apply min-w-max;
  }
  .card {
    @apply w-full;
  }
}
@media (min-width: 1160px) {
  .nav {
    @apply flex-row;
  }
  .fine-flex {
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
}
@media (min-width: 1536px) {
}
@media (orientation: portrait) {
  .bg-herobg {
    @apply w-screen;
  }

  .fine-flex {
    flex-direction: column;
  }
}
